@media (max-width: 1280px) {
    body {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .information .description {
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 425px) {
    body {
        padding: 40px;
    }

    .content {
        min-height: 70vh;
        gap: 50px;
    }

    .information .logo {
        max-width: 300px;
    }

    .information .description {
        width: 100%;
    }

    .socials {
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .socials ul {
        flex-direction: row;
    }
}